* { margin: 0; padding: 0;}
body, html { height:100%; width: 100%; background-color: #1abc9c; font-family:sans-serif;}
#fg{position: relative; z-index: 1; margin: auto auto;}
#show-info{position: absolute; top:5px; right: 5px; background-color: rgba(236, 240, 241, 0.65); padding: 5px 10px; cursor: pointer; z-index:2; }
#show-info:hover{background-color: rgba(236, 240, 241, 0.95);}
#info { position: absolute; top:50%; left: 50%; width: 400px; height: auto; background: rgb(236, 240, 241); z-index: 3; padding: 0px; display:none; margin: -175px 0 0 -200px;}
#info-header{width:100%; height:auto; text-align: center; color:white; background-color: rgb(41, 128, 185); font-size: 18px; padding: 10px 0px;}
#inner-info{ padding:10px; position:relative; font-size: 12px;}
a { margin: 10px; color: #2c3e50; font-size: 12px; cursor: pointer;}
a:hover { color:#34495e;}
#change-display{ text-decoration: none; width: 100px; margin: 0 auto; padding: 15px; background-color: rgba(46, 204, 113,1.0); color: white;  font-weight:bold; text-align:center; cursor:pointer;}
#change-display:hover{background-color: #27ae60;}
textarea{ resize: none; margin: 0px auto; display: block;}
p{text-align: center;}
#close-info { position:absolute; top:5px; right:10px; font-size: 20px; color:white; cursor: pointer; border-bottom: none; text-decoration: none;}